<html>
    <body>
        <div class="card"style="height:350px; width:1200px;margin-top:30px;margin-left:80px;padding-left:10px;background-color:rgb(248,248,248);box-shadow:blue 2px 3px;">
            <center>
            <h1 class="job-title">{{profile.Full_Name}}</h1><br><br>
          
                  <strong style="color:blue;">Email : </strong><strong>{{profile.email}}</strong><br><br>
              
          
                <strong style="color:blue;">Phone Number : </strong><strong>{{profile.phone_number}}</strong><br><br>
                
                <a href='{{profile.Resume.url}}' download >{{profile.Resume}}</a>
              </center> 
          </div>
        </body>
</html>