{% extends 'base.html' %}
{% block title %}TECH | {{job.title}}{% endblock title %}

{% block content %}
<div class="card" style="width:500px; margin-top:140px; margin-left:450px;">
    <center>
    <h3>Forgot Password</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <button type="submit" class="btn btn-lg btn-primary" style="width:200px;margin-bottom:10px;">Submit</button>
        <br>
    </form>
</div>
    <style>
        input{
            height:40px;
            width:250px;
            margin-top:30px;
            border-radius:10px;
            font-weight:border;
        }
        
        a{
            text-decoration:none;
        }
    </style>
            
    {% endblock content %}