{% extends 'tip.html' %}
{% block title %}TECH | {{job.title}}{% endblock title %}
{% block content %}
<div class="card" style="width:700px;height:490px;margin-top:50px;margin-left:340px;padding-left:100px;padding-top:50px;background-color:rgb(248,248,248);box-shadow:blue 1px 1px 3px 3px;">
    <div class="form-group col-md-12">
    {% if validlink %}
    <h3> Change Password</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"class="btn btn-lg btn-primary" style="width:200px;margin-left:100px;">Change Password</button><br>
    </form>
    {% else %}
    <p>
        The password reset link was invalid ,Possibly because itbhas already been used.Please request a new password reset.</p>

        {% endif %}
</div>
    <style>
            input{
                height:30px;
                width:250px;
                margin-top:20px;
                border-radius:1px;
                box-shadow:gray 1px 1px 2px 2px;
            }
            
            
            a{
                text-decoration:none;
            }
        </style>
        
        
            {% endblock content %}
        
        
        
